header{
    height: 80px;
    background-color: aqua;
}

.dev_main-wrapper{
    height: calc(100vh - 80px);
}

.dev_lat-nav{
    width: 70px;
    background-color: burlywood;background: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

.dev_lat-wrapper{
    height: 100%;
    font-size: .9rem;
}

.dev_single-action{
    color: white;
    text-decoration: none;
}

main{
    width: calc(100% - 70px);
    /*background-color: chartreuse;*/
    overflow-y: scroll;
}

main header{
    background-color: cornflowerblue;
}

div.card.dev_stats{
    width: 100%;
}

@media screen and (min-width: 992px){
    .dev_lat-nav{
        width: 130px;
    }
    
    main{
        width: calc(100% - 130px);
    }
}