header.dev_top-header{
    height: 60px;
}

.dev_content-header{
    /*height: 80px;*/
    background-color: #1B72E8;
    color: white;
}

img.dev_logo{
    max-width: 100%;
    padding-left: .5rem;
}

img.dev_mini-logo{
    width: 50px;
}

.dev_searchbar{
    background-color: #E5E5E5;
    border-radius: 5px;
    width: 100%;
    padding: .5rem;
    overflow-x: hidden;
}

.dev_searchbar i{
    font-size: 1.3rem;
}

.dev_searchbar input{
    width: 95%;
    border: none;
    background: transparent;
    font-size: .9rem;
}

.dev_header-action{
    text-decoration: none;
    color: #5B5858;
}

.dev_main-wrapper{
    height: calc(100vh - 60px);
}

.dev_lat-nav{
    width: 70px;
    background-color: burlywood;background: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

.dev_lat-wrapper{
    height: 100%;
    font-size: .9rem;
}

.dev_single-action{
    color: white;
    text-decoration: none;
}

main{
    width: calc(100% - 70px);
    /*background-color: chartreuse;*/
    overflow-y: scroll;
}

.dev_main-header-pill{
    background-color: #165BBA;
}

.dev_online-students{
    font-size: .8rem;
    line-height: 1rem;
}

div.card.dev_stats{
    width: 100%;
}

@media screen and (min-width: 992px){
    .dev_lat-nav{
        width: 130px;
    }
    
    main{
        width: calc(100% - 130px);
    }
}